<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">This for lurah</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="assign">
          <div class="form-group">
            <label for="tournamentPicturel">Sub District</label>
            <input
              id="picture"
              class="form-control"
              required
              placeholder="Insert Subdistrict"
              name="Subdistrict"
            />
          </div>
          <div class="form-group">
            <label for="ID">_Id</label>
            <input
              id="id"
              class="form-control"
              required
              placeholder="Insert Comittee Id"
              type="text"
              name="Id"
            />
          </div>
          <button type="submit" class="btn btn-primary" (click)="AssignCom()">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
